* {
    box-sizing: border-box;
    
}

body {
    background-image: url(/Image/aron-visuals-BXOXnQ26B7o-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    backdrop-filter: blur(5px);  /* use this to blur the background of the page */
}
.countdown-containerC {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.headC {
    margin-top: 15%;
    font-size: 4rem;
    margin-bottom: 0px;
    font-weight: normal;
    font-family: 'Lemonada', cursive;
    color: #FF6701;
}

h1:hover {
    color: #fff;
}

._1:hover {
   color: red;
}

._2:hover {
    color: #fff;
}

._3:hover {
    color: red;
}

._4:hover {
    color: #fff;
 }
 
.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;
}

.countdown-el {
    text-align: center;
    margin-top: 50px;
    color: #E8E46E;
    margin-bottom: 100px;
}

.countdown-el span {
    font-size: 1.3rem;
}

